<div class="container">
  <div class="row">
    <div class="column">
      <div class="monday">
        <div class="col">
          <div class="monday2">
            <%=image_tag("fruits logo.png") %>
            +
            <%=image_tag("fruits logo.png") %>
            +
            <%=image_tag("fruits logo.png") %>
            <p>mon</p>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="tuesday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="wednesday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="thursday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="friday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="saturday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="sunday">
        <div class="col">
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
          +
          <%=image_tag("fruits logo.png") %>
        </div>
      </div>
      <p class="price">PRICE:</p>

    </div>
  </div>
</div>
