<div class="container">
  <div class="row">
    <div class="column">
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[0]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[0]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[1]) %>
        <p class="ml-2 mb-0">LUN</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[1]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[2]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[3]) %>
        <p class="ml-2 mb-0">MAR</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[2]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[4]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[5]) %>
        <p class="ml-2 mb-0">MER</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[3]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[6]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[7]) %>
        <p class="ml-2 mb-0">JEU</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[4]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[8]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[9]) %>
        <p class="ml-2 mb-0">VEN</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[5]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[10]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[11]) %>
        <p class="ml-2 mb-0">SAM</p>
      </div>
      <div class="day d-flex align-items-center" >
        <%=image_tag(@chosen_breakfast[6]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[12]) %>
        <p class="mx-2 mb-0">+</p>
        <%=image_tag(@chosen_pictures[13]) %>
        <p class="ml-2 mb-0">DIM</p>
      </div>
      <div class="d-flex justify-content-between mt-3 align-items-center">
        <p class="price my-0">PRIX: <%= @chosen_counter/100.to_f %><%= "€" %></p>
         <%= link_to "liste de courses", create_list_ingredients_path(@chosen_list) %>
      </div>
    </div>
  </div>
</div>
